<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Your Students.</h1>
    <p class="lead">Review and search through students based on different parameters.</p>
    <img src="assets/images/books.jpg">
  </div>
</header>


<!--Some classes need to be changed. We want our info and database list not theirs.
 Objects and classes like; thing in awesomeThings, the remover, etc.-->

<div class="container">
  <input type="button" value="Sort by Name" ng-click="sortName()"/>
  <input type="button" value="Sort by Birth" ng-click="sortBirth()"/>
  <input type="button" value="Sort by Credits" ng-click="sortCredits()"/>
  <input type="button" value="Sort by GPA" ng-click="sortGPA()"/>
  <li class="list-group-item" ng-repeat="student in awesomeStudents">Name: {{student.lastName}}, {{student.firstName}}. Date of Birth: {{student.dateOfBirth}}. GPA: {{student.gpa}}. Credits completed: {{student.completedCreditsForList}}. Major 1: {{displayMajor1(student)}}. {{displayMajor2(student)}} Year: {{student.creditYear}}<button type="button" ng-click="changeUnique(student)">details</button></li>
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Students:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="student in awesomeStudents">-->
        <!--<li class="list-group-item"><a href="#">{{student.lastName}}, {{student.firstName}}</a></li>&ndash;&gt;-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <h2>Student Details:</h2>
</div>

<!--details for each student: don't forget to change href for link to ng-click for functions.-->

<div class="container">
  <p>Name: {{ourUniqueStudent.lastName}}, {{ourUniqueStudent.firstName}}</p>
  <p>Date of Birth: {{ourUniqueStudent.dateOfBirth}}</p>
  <p>Gender: {{ourUniqueStudent.gender}}</p>
  <p>Email: {{ourUniqueStudent.email}}</p>
  <p>Phone: {{ourUniqueStudent.phone}}</p>
  <p>Address: {{ourUniqueStudent.address}}</p>
  <p>Major 1: {{ourUniqueStudent.major1}}</p>
  <p>Major 2: {{ourUniqueStudent.major2}}</p>
  <p>GPA: {{ourUniqueStudent.gpa}}</p>
  <p>Courses: {{coursesInDisplay()}}</p>
</div>

<!--we don't plagiarize-->
<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
